    <div class="cover">
            <div class="cover-image"></div>
            <center class="container" id="particles-js">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center main-banner">
                        <!--h1 class="text-inverse">Prog Network</h1-->
                        <img src="img/logolight.png" class="main-logo">
                        <p class="text-inverse">Graph search for prog music</p>
                        <br>
                        <div class="circle" ng-click="scrollTo('#project',100);">
                            <a class="arrow-link"><span class="ion-ios-arrow-down cool_btn_down"></span></a>
                        </div>
                </div>
            </center>
        </div>


        <div class="section">
            <div class="container" id="project">
                <div class="row">
                    <div class="col-md-6">
                    <center>
                    <h2><strong>The Project</strong></h2>
                    </br>               
                    </center>
                    <p class="text">
                        <strong>ProgToNode</strong> is a new way to explore the world of progressive music. With ProgToNode you'll be able to search any artist, band or project of progressive rock/metal and <strong>discover the relationships between them</strong>.
                        </br></br>
                        The cool thing is that this relationships are <strong>represented in a visual way implementing graphs theory</strong>.</br></br> Yes, we put together <strong>prog music and math</strong>. Isn't that cool?</p> 
                        <br>
                        <center>
                            <button  class="search-button" ng-click="scrollTo('#features',20);">Learn more</button>
                        </center>

                        </div>

                    <div class="col-md-6">
                    <center>
                        <img src="img/hexagons1_lg.png" class="img-responsive hexagon">
                    </center>
                    </div>
                </div>
            </div>            
        </div>

        <div class="section" id="features">
            <div class="container">
                <h1 class="text-center">Why ProgToNode </h1>
                <h3 class="text-center">We are building a graphic encyclopedia of progressive music</h3>
                <div class="row">
                    <div class="col-md-4 text-center" data-wow-duration="1s"><i class="ion-ios-lightbulb-outline huge"></i>
                        <h3 class="text-center top_nothing"><strong>It's Easy</strong></h3><br>
                        <p class="text">Reading lines and nodes connecting musicians and bands is a cool way of learning and discovering new music. <strong>The posiblities are endless</strong>.</p>


                    </div>  
                    <div class="col-md-4 text-center" data-wow-duration="1s"><i class="ion-ios-infinite-outline huge"></i>
                        <h3 class="text-center top_nothing"><strong>It's Fun</strong></h3><br>
                        <p class="text">You can spend hours connecting artists, you can even get surprised to where you get. </p>
                    </div>  
                    <div class="col-md-4 text-center" data-wow-duration="1s"><i class="ion-ios-flask-outline huge"></i>
                        <h3 class="text-center top_nothing"><strong>It's Experimental</strong>
                    </h3><br>
                        <p class="text">The progressive music is about <strong>experimenting</strong> and reaching unknown horizons. By implementing mathematical methods, graphs theory and the hypothesis of six degrees of separation, we are looking for expanding these horizons of discovery.</p>
                    </div>  
                </div>
                <center>
                <div class="circle" ng-click="scrollTo('#featurelist',25);">
                    <a class="arrow-link"><span class="ion-ios-arrow-down cool_btn_down"></span></a>
                </div>                    
                </center>
            </div>
        </div>

        <div class="section">
            <div class="container" id="featurelist">
            <center><h2><strong>Features</strong></h2></center>
                <br><br>
                <div class="row">
                    <div class="col-md-6">
                    <center>
                    </br>               
                    </center>
                    <h4><strong>Graph Searching</strong></h4>
                    <p class="text">

                    Do you want to see every <strong>project or members of your favorite prog rock band/musician?</strong>. Type the name in the search box and you will see the <strong>nodes linking each other in seconds</strong>.</br></br> You are able to <strong>expand</strong> this graph by <strong>setting the controls</strong>, zoom in/out, and view it full screen.
                    </p>
                        <br>
                        </div>

                    <div class="col-md-6">
                        <center><img src="img/feature1.jpg" class="img-responsive screenshot-nw" width="80%"></center>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <center><img src="img/feature2.jpg" class="img-responsive screenshot" width="100%">                    </center>
                    </div>

                    <div class="col-md-6">
                    <center>
                    </br>               
                    </center>
                    <h4><strong>Connecting Artists</strong></h4>
                    <p class="text">

                    You can <strong>connect</strong> the different artists and begin a journey through the <strong>universe of prog music</strong>. You can get very suprised of what you find (it happened to us). Begin by doing <strong>click in any node of your graph</strong>, you'll see a new graph with this artist/band. </br></br> If you wanna see your journey in steps, click in <strong>Degrees button.</strong>
                    </p>
                        <br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                    <center>
                    </br>               
                    </center>
                    <h4><strong>Listening playlists and discovering albums</strong></h4>
                    <p class="text">

                    This experience would be pointless without listening some good prog music. Make click in <strong>Videos button</strong> and listen a <strong>playlist from Youtube</strong> of your artist. </br> </br>Close the window and you can hear the music while navigating. Also you can see the dischography of your current artist
                    </p>
                        <br>
                    </div>
                    <div class="col-md-6">
                        <center><img src="img/feature3.jpg" class="img-responsive screenshot-nw" width="80%"></center>                    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <center><img src="img/feature4.jpg" class="img-responsive screenshot-nw" width="80%"></center>
                    </div>

                    <div class="col-md-6">
                    <center>
                    </br>               
                    </center>
                    <h4><strong>Search modes</strong></h4>
                    <p class="text">

                    You have two modes of searching. <strong>Planet Mode</strong> will show you results of artists and bands. <strong>System Mode</strong> will show you results of albums, you are able to build a graph with every musician participating in the record. </br></br>

                    Yes, we know that <strong>prog nerds</strong> are obsessed with albums

                    </p>
                        <br>
                    </div>
                </div>



            </div>            
        </div>


        <div class="section">
            <center class="container">
                <img src="img/screenshot.png" class="screenshot">
            </center>
        </div>

        </div>
</div>